@font-face {
    font-weight: 300;
    font-family: 'Inter';
    font-style: normal;
    src: url('https://storage.yandexcloud.net/blood-analysis-public/pdf-fonts/inter-light.ttf') format('truetype');
}

@font-face {
    font-weight: 400;
    font-family: 'Inter';
    font-style: normal;
    src: url('https://storage.yandexcloud.net/blood-analysis-public/pdf-fonts/inter-regular.ttf') format('truetype');
}

@font-face {
    font-weight: 600;
    font-family: 'Inter';
    font-style: normal;
    src: url('https://storage.yandexcloud.net/blood-analysis-public/pdf-fonts/inter-semibold.ttf') format('truetype');
}

@font-face {
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
    src: url('https://storage.yandexcloud.net/blood-analysis-public/pdf-fonts/inter-bold.ttf') format('truetype');
}

/* Нужно заменить ссылку */
@font-face {
    font-weight: 900;
    font-family: 'Inter';
    font-style: normal;
    src: url('https://storage.yandexcloud.net/blood-analysis-public/pdf-fonts/inter-bold.ttf') format('truetype');
}

/* Нужно заменить ссылку */
@font-face {
    font-weight: 800;
    font-family: 'Inter';
    font-style: normal;
    src: url('https://storage.yandexcloud.net/blood-analysis-public/pdf-fonts/inter-bold.ttf') format('truetype');
}

@font-face {
    font-weight: 500;
    font-family: 'Inter';
    font-style: normal;
    src: url('https://storage.yandexcloud.net/blood-analysis-public/pdf-fonts/inter-medium.ttf') format('truetype');
}


html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.01em;
    color: #262626;
    margin: 0;
    padding: 0;

    max-width: 595px;
    max-height: 842px;
    overflow: hidden;

    background-color: #FDFDFD;
}

thead {
    display: table-header-group;
}

tfoot {
    display: table-footer-group;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.color-dark-grey {
    color: #8e8e8e;
}

.out-of-norm-value {
    color: #fb7b7b;
}

.norm-value {
    color: #35b185;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    height: 100%;
}


.header {
    width: max-content;
    margin: 0 auto;
    padding-top: 24px;
    margin-bottom: 172px;

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #8E8E8E;
}

.logo {
    margin-bottom: 48px;
}

.title {
    margin-bottom: 60px;

    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #262626;
}

.card {
    padding: 20px 16px;
    background: #FFFFFF;
    box-shadow: 0 8px 52px #F3F3F3;
}

.user-card {
    width: 324px;
    border-radius: 24px;
}

.user-card div:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.user-card__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    border-bottom: 1px solid #F7F7F7;
    width: 228px;
}

.user-card__item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.user-card__item__right-content {
    flex: 0 1 50%;
}

.user-card__item__left-content {
    flex: 0 1 50%;
}

.user-card__item__title {
    margin-right: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #262626;

}

.user-card__item__value {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #404040;
}

.background-img-one {
    position: absolute;
    width: 30.9px;
    height: 31.17px;
    left: 489px;
    top: 121.95px;
    z-index: 100;
}

.background-img-two {
    position: absolute;
    left: 508px;
    top: 7.36%;
}

.background-img-three {
    position: absolute;
    left: 520px;
    top: 63.42%;
    z-index: 100;
}

.background-img-four {
    position: absolute;
    width: 257.23px;
    height: 259.53px;
    left: 430px;
    top: 633px;
}

.background-img-five {
    position: absolute;
    left: 378px;
    top: 86.34%;
}

.background-img-six {
    position: absolute;
    left: 0;
    right: 78.66%;
    top: 90.74%;
    bottom: -8.55%;
}

.page-title {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #262626;
}

.table-description__container {
    padding: 16px;
    margin-bottom: 27px;
    box-shadow: 0 8px 52px #F3F3F3;
}

.table-description__container:last-child {
    margin-bottom: 0;
}

.text-with-point {
    position: relative;

    max-width: 450px;
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #404040;
    padding-left: 12px;
}

.text-with-point::before {
    position: absolute;
    content: "";
    display: flex;
    top: 5px;
    left: 4px;
    height: 3.5px;
    width: 3.5px;
    border-radius: 50%;
    background-color: black;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 12px;
    margin-top: 0;
    padding: 0;
    border: 1px solid #DBDBDB;

}

.table-head {
    background: #DBDBDB;
}

.table-head__row {
    align-items: center;
    vertical-align: bottom;
}

.table-head__row__text {
    vertical-align: middle;
    font-weight: 500;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #262626;
    padding: 0 13px;
}

.table-body {
    background: #DBDBDB;
}

.table-body tr:nth-child(19) {
    page-break-after: always;
}

.table-body .table-body__row:nth-child(odd) {
    background: #ffffff;
}

.table-body__row {
    align-items: center;
    vertical-align: bottom;
    padding: 0 6px;
}

.table-body__row .table-body__row__text:first-child {
    padding: 6px 0 6px 13px;
}

.table-body__row__text {
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #262626;
    vertical-align: middle;
    text-align: center;
}

.table-body__row__text-positive {
    font-weight: 500;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #35B185;
}

.table-body__row__text-negative {
    font-weight: 600;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FB7B7B;
}

.table-body__row__text-negative::after {
    content: "*";
}

.table-footnote {
    font-weight: 500;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #404040;
}

.biomarker-title {
    margin-bottom: 21px;

    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #262626;
}

.biomarker-description-title {
    margin-bottom: 4px;

    font-weight: 500;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #262626;
}

.biomarker-description-card {
    padding: 16px;
}

.card-text {
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #404040;
}

.biomarkers-page-card {
    padding: 20px;
}

.biomarkers-block {
    display: flex;
}

.biomarkers-block__left {
    flex: 1 0 74%;
    padding-right: 32px;
}

.biomarkers-block__right {
    flex: 1 0 26%;
}

.biomarkers-block__title {
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: -0.01em;
    color: #262626;
}

.biomarkers-item {
    display: flex;
    justify-content: space-between;
}

.biomarkers-item__title {
    flex: 0 1 32%;
    align-self: center;

    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #262626;
}

.biomarkers-scale {
    position: relative;
    width: 192px;
    height: 18px;
    background-image: url("images/biomarker-item-scale-bg.svg");
}

.biomarkers-scale__indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #FB7B7B;
    border-radius: 50%;
}

.biomarkers-scale__value {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);


    font-weight: 500;
    font-size: 9px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #404040;
}

.biomarkers-norms-value {
    font-weight: 500;
    font-size: 9px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #59CDA4;
}

.page-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #262626;

    margin-bottom: 10px;
}

.page-subtitle__label {
    display: inline-block;

    border: 2px solid #FB7B7B;
    border-radius: 2px;
    padding: 4px;

    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: -0.01em;
    color: #FB7B7B;

    margin-bottom: 20px;
}

.assessment-card {
    background: #F3F4FF;
    border-radius: 16px;
    padding: 20px;

    margin-bottom: 6px;
}

.assessment-card__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #2B2B38;

    margin-bottom: 6px;
}

.risk-scale-block {
    display: flex;
}

.risk-scale-block__text {
    font-weight: 500;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #2B2B38;

    margin-right: 6px;
}

.risk-scale-block__scale-block {
    width: 180px;
    height: 14px;

    margin-right: 6px;
}

.risk-scale-block__scale {
    height: 100%;
    background: #FB7B7B;
    border-radius: 4px;
}

.risk-scale-block__value {
    font-weight: 400;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #2B2B38;
}


.main {
    flex: 1 0 auto;
}

.footer {
    border-top: 1px solid #8E8E8E;
    padding-top: 6px;
    text-align: end;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #8E8E8E;
    margin-top: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-32 {
    margin-bottom: 32px;
}

.red-text {
    color: #FB7B7B;
}

.flex {
    display: flex;
}

.link {
    text-decoration: none;
}
